/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
selenium.php
composer.lock

# for netbeans
nbproject


/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage
/config/database.php
/storage/*.key
/vendor
/modules
/bootstrap
/themes/demo
/themes/*/content
/themes/*/meta
.DS_Store
*.log
/vendor
/storage
/plugins/*
!/plugins/petervandam/
/modules/**/*
/config
/bootstrap
/themes/demo
artisan
index.php
.htaccess
