body {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

#header {
    background-color: gray;
    background-image: url('https://www.feednews.me/screensaver/images/background.jpg');
    background-size: cover;
    margin: 0;
}

h1 {
   color: white;
   width: 1200px;
   margin: auto;
   padding: 200px 0 10px 0;
   font-weight: 100;
   font-size: 36pt;
}

.disclaimer {
    width: 1200px;
    margin: 20px auto;
}

#tasks {
    margin-top:50px;
    margin-bottom: 150px;
}
#booker table {
    width:1200px;
    margin:50px auto;
}
#booker table td, #booker table th {
    font-size:10pt;
    text-align:left;
}
#booker table input, #booker table select {
    width:100%;
    font-size:12pt;
    padding: 5px;
    box-sizing: border-box;
}

#booker table td:last-child {
     width: 100px;   
}

#booker table td:nth-child(5) {
    text-align:right;
}
#booker table th:nth-child(5) {
    text-align:right;
}
#booker input[type="button"] {
    background-color: rgb(84, 163, 255);
    border:0px;
    width:100px;
}
#booker input[type="radio"] {
    background-color: rgb(84, 163, 255);
    border:0px;
    width:12px;
}
#progressbar table {
    width:1200px;
    margin:auto;
    padding:0;
    border:0;
}
#progressbar table td {
    margin:0;
    padding:0;
    border:0;
}
#progressbar table .free {
    background-color: rgba(13, 22, 37, 0.13);
    height:20px;
    width:150px;
}
#progressbar table .taken {
    background-color: rgb(84, 163, 255);
    height:20px;
    width:150px;
}
#progressbar table tr:first-child, #progressbar table tr:last-child {
    width:50px;
    font-size:8pt;
}
.time {
    border:0px;
    text-align:right;
}

.active {
    background-color: #fff4a2;
}

.buttons {
     text-align: center;
}

.buttons button {
     background-color: #337dff;
     color: white;
     border: 1px solid #337dff;
     border-radius: 5px;
     margin: 10px;
     padding: 10px 20px;   
}

.buttons button:hover {
    background-color: white;
    color: #337dff;
    cursor: pointer;
}
